*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
}
header{
    background-image:linear-gradient(rgba(8, 36, 59, 0.774),rgba(9, 32, 61, 0.884)),
    url(img/header.jpg); 
    height: 50vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 2em;
    
}
.homeicon{  
    width: 8.0808%; /* 80px */
    margin-left: 42%;
    padding-top: 2%;
    
}
.menu ul{
    list-style-type: none;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%; 
}
ul li.active a{
    background-color: white;
    color: black;
}
ul li a{
    padding: 1em 1em;
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: blue;
    background-color: rgb(255, 255, 255);
}
.title h1{
    text-align: center;
    font-size: 300%;
    padding-top: 2em;
    color: white;
}
.title p{
    text-align: center;
    font-size: 150%;
    margin-top: 0.5em;
    font-weight: lighter;
    color: white;
}
main{
    background-image:linear-gradient(rgba(8, 36, 59, 0.37),rgba(9, 32, 61, 0.404)),
    url(img/main.jpg); 
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 2em;
}
.slogan{
    color: white;
    text-align: center;
    padding: 5em 5em;
    font-size: 150%;
    background-color: rgba(255, 255, 255, 0.404);
}